.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{margin-top: 40px;}
.chater,.account{text-align:left;}
.chater h2{margin-left:38px;}
h1.col-12{background-color:#fafcff;margin-bottom:30px;}

ul.messenger li{position:relative;text-align:left;}
ul.messenger li:nth-child(even){background-color:#f2fafd;margin-top:10px;margin-bottom:10px;}
ul.messenger li span.col-4{padding:0;}
  .messenger .texter{font-size:1.4em;font-style:italic;letter-spacing:0.02em;}
  .messenger .col-4 button{margin-top:10px;line-height:13px;padding:6px;}
ul.messenger button.btn-danger{margin-left:5px;}
ul.messenger button.btn-success{margin-right:5px;}
  .messenger span.smaaler{display:block;text-align:right;color:grey;}
  .messenger .aroz{color:#0568fb;}

.col-12 form{margin-top:15px;margin-bottom:20px;padding-bottom:10px;border-bottom:1px solid grey;}
.col-12 form div{margin-bottom:10px;}
